* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
    --primary-green: #2f5e3b;
    --dark-green: #1f3f28;
    --gold: #c8a24d;
    --light-bg: #f4f4f4;
    --white: #ffffff;
}

.main-header {
    display: flex;
    justify-content: space-between; /* pushes the logo left, navigation right*/
    align-items: center; /* vertically centers */
    padding: 20px 60px;
    background-color: var(--light-bg);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    /* horizontal-offset vertical-offset blur-radius clor*/

    position: sticky;
    top: 0; /* Stick to the top of the screen */
    z-index: 1000; /* Make sure the content stays above while scrolling */
}

/* Logo */
.logo img {
    height: 135px;  /* adjust as needed */
}

/* Navigation */
.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;  /* spacing between buttons */
}

/* Navigation Links */
.nav-links li a {
    letter-spacing: 0.5px;
    text-decoration: none; 
    color: var(--primary-green);
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}

/* Hover Effect */
.nav-links li a:hover {
    color: var(--gold); /* gold hover */
}

/* Contact Button */
.nav-links li a.cont-btn {
    background-color: var(--light-bg);
    color: var(--primary-green);
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid var(--primary-green); /* the border around the box */
}
/* Hover Effect on contact*/
.nav-links li a.cont-btn:hover {
    background-color: var(--primary-green);
    color: var(--gold);
}

body {
    font-family: 'SN Pro', sans-serif;
}

.hero {
    height: 100vh; /* full screen height */
    background-image: url("images/IMG_5474.jpg");
    background-size: cover;       /* makes image cover entire section */
    background-position: center;  /* keeps it centered */
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* Darken the image by crating a layer on top if image*/
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6); /* darken overlay */
}

.hero-overlay {
    position: relative; /* keeps it above overlay */
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.hero h1 {
    color: var(--light-bg);
    font-size: 65px;
    margin-bottom: 20px;
}

.hero p {
    color: var(--light-bg);
    font-size: 20px;
    margin-bottom: 30px;
}

.about-content {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.about-content h2 {
    color: var(--primary-green);
    margin-bottom: 15px;
    font-size: 28px;
}

.about-content p {
    color: var(--primary-green);
    margin-bottom: 25px;
    line-height: 1.7;
    font-size: 18px;
}

.values {
    margin-top: 20px;
    padding-left: 25px;
}

.values li {
    color: var(--primary-green);
    margin-bottom: 12px;
    font-size: 18px;
}

.values li::marker {
    color: var(--primary-green);
}

.working {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    max-width: 1100px;
    margin: 100px auto;
    padding: 0 20px;
}

.working-img img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.img-text {
    max-width: 500px;
}

.img-text h2 {
    color: var(--primary-green);
    margin-bottom: 20px;
}

.img-text p {
    color: var(--primary-green);
    line-height: 1.6;
    font-size: 18px;
}

.working {
    border-top: 1px solid var(--dark-green);
    padding-top: 60px;
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;

    max-width: 1100px;
    margin: 100px auto;
    padding: 0 20px;
}

.contact-info {
    flex: 1;
}

.contact-map {
    flex: 1;
}

.contact-map iframe {
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.contact-info h2 {
    color: var(--primary-green);
    font-size: 32px;
    margin-bottom: 30px;
}

.contact-item {
    margin-bottom: 25px;
}

.contact-item h3 {
    color: var(--primary-green);
    margin-bottom: 5px;
}

.contact-item a {
    text-decoration: none;
    font-weight: 600;
}

.contact-item a:hover {
    color: var(--gold);
}

.warehouse-gallery {
    max-width: 1100px;
    margin: 100px auto;
    padding: 0 20px;
    text-align: center;

    border-top: 1px solid var(--primary-green);
}

.warehouse-gallery h2 {
    color: var(--primary-green);
    margin-bottom: 40px;
    font-size: 28px;
}

.gallery-grid {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.gallery-grid img {
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease; /* Makes the image hover smooth */
}

.gallery-grid img:hover { /* Makes the image bigger by 3% */
    transform: scale(1.03);
}

/* Products Hero */
.products-hero {
    text-align: center;
    padding: 100px 20px 60px;
    background-color: var(--light-bg);
}

.products-hero h1 {
    font-size: 48px;
    color: var(--primary-green);
    margin-bottom: 20px;
}

.products-hero p {
    font-size: 20px;
    color: var(--dark-green);
}

/* Product Grid */
.products-grid-section {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product-card {
    background: var(--white);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    color: var(--primary-green);
}

/* Products Table */
.products-table-section {
    max-width: 1100px;
    margin: 100px auto;
    padding: 0 20px;
}

.products-table-section h2 {
    text-align: center;
    margin-bottom: 40px;
    color: var(--primary-green);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--dark-green);
    padding: 15px;
    text-align: center;
}

th {
    background-color: var(--primary-green);
    color: var(--white);
}

td img {
    width: 120px;
    border-radius: 8px;
}

.home-video {
    padding: 100px 20px;
    background-color: var(--light-bg);
    text-align: center;
}

.video-container {
    max-width: 350px;     /* phone width */
    margin: 0 auto;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 25px;  /* rounded like a phone */
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.video-container {
    max-width: 350px;
    margin: 0 auto;
    padding: 12px;
    background-color: #000;
    border-radius: 30px;
}

.main-footer {
    text-align: center;
    padding: 25px;
    background-color: var(--dark-green);
    color: var(--light-bg);
    margin-top: 80px;
}